body {
    background-color: whitesmoke;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
}

iframe {
    border: none;
    width: 20%;
    position: fixed;
    height: 100vh;
    transform: translateX(-19vW); 
    transition: transform 0.5s ease;
    border-radius: 5px;
    z-index: 2;
}

iframe:hover {
    transform: translateX(-1vw); 
}
.page{
    background-color: #fff;
    padding: 40px 30px;
    width: 100%;
    margin: auto; 
    z-index: 1;
}

#detalji{
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#detalji p{
  max-width: 500px;
}

#top5-nekretnine{
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}

#upiti{
  border:2px solid black;
  padding: 20px;
  margin:20px;
}